html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

menu {
  font-size: 20px;
  line-height: 23px;
}

body {
  font-family: Helvetica;
  font: Helvetica;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #e8e8e8;
  text-align: center;
}